@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

.rs-picker-toggle-caret {
  display: none !important;
}

.terms {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}
#justificatif {
  font-family: "Lato";
  user-select: none;
  position: relative;
  height: 125vw;
}
.check15 {
  position: absolute;
  top: 25.1vw;
  left: 11.7vw;
  background: url("/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.4vw;
  height: 2.4vw;
  display: none
}

.check30 {
  position: absolute;
  top: 30.3vw;
  left: 11.7vw;
  background: url("/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.4vw;
  height: 2.4vw;
  display: none
}

.JustificatifMockup {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -11;
}

.natureIncident {
  position: absolute;
  font-size: 2.435vw;
  top: 40.8vw;
  left: 11.4vw;
  font-weight: 900;
  letter-spacing: -0.090em;
}

.incidentDate {
  position: absolute;
  font-size: 2.435vw;
  top: 46.5vw;
  left: 22.4vw;
  font-weight: 900;
  letter-spacing: -0.090em;
}

.deliveryDate {
  position: absolute;
  font-size: 2.435vw;
  top: 54.6vw;
  left: 33.7vw;
  font-weight: 900;
  letter-spacing: -0.090em;
}

.deliveryStation {
  position: absolute;
  font-size: 2.435vw;
  top: 57.5vw;
  left: 13.4vw;
  font-weight: 900;
  letter-spacing: -0.090em;
}

.agent {
  position: absolute;
  font-size: 2.435vw;
  top: 60.4vw;
  left: 23.2vw;
  font-weight: 900;
  letter-spacing: -0.090em;
}

l {
  font-weight: 200;
}

.icon {
  position: absolute;
  top: 44.06vw;
  left: 23vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.4vw;
  height: 2.4vw;
}
.retour{
  font-size: 30px;
  position: relative;
  top: 20px;
  left: 30px;
  cursor: pointer;
  z-index: 1000;
}
.print{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ED64A6 !important;
  color: white !important;
  position: relative;
}
.print:hover{
  background-color: #ED64A6 !important;
  color: white !important;
  position: relative;
}