.logo{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
}
.stack{
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.submitButtonStack{
  position: relative;
  top: 30px;
}
.submitButton{
  background-color: #ED64A6 !important;
  color: white !important;
  position: relative;
  width: 100% !important;
}
.submitButton:hover{
  color: white !important;
  background-color: #ED64A6 !important;
}
.terms{
  text-align: center !important;
}
.submitButton:disabled{
  opacity: 0.5;
}